<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panwix.classtable" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ii"
        android:theme="@android:style/Theme.Holo.Light">
        <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addActivity"/>
        <activity android:name=".deleteActivity"/>
        <activity android:name=".showActivity"/>
        <activity android:name=".settingActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth">
        </activity>
    </application>

</manifest>
